/*
 * Estilos de tu proyecto
 */

body{
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

 .background{
 	background-image: url(assets/images/hero.gif);
 	background-size: cover;
 	width: 100%;
 	height: auto;
 }

.menu{
	width: 100%;
	height: 10%;
	margin: 0 auto;
	background-color: transparent;
	overflow: hidden;
	clear: both;
}

.whitelogo{
	width: 4.5%;
	height: auto;
	margin-top: 3%;
	margin-left: 6%;
}

.lyftwhite{
	width: 100%;
	height: auto;
	float: left;
	display: block;
}

.tags{
	float: right;
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 4%;
	margin-right: 10%;
}

.tags a:hover{
	color: #FF00BF;
}

.tag-links{
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin-left: 40px;
}

.tag-links1{
	padding: 10px;
	border: 1px solid white;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.tag-links2{
	text-decoration: none;
	color: white;
	padding: 20px;
	font-size: 18px;
}

.sign-up{
	width: 35%;
	height: auto;
	margin: 0 auto;
	background-color: white;
	display: inline-block;
	clear: both;
	overflow: hidden;
	margin-left: 60%;
	padding-left: 5%;
	padding-top: 2%;
	margin-bottom: 11%;
}

.money{
	color: #352384;
	font-size: 40px;
	letter-spacing: 1px;
	font-weight: bolder;
	font-weight: 500;
}

.sign-up h5{
	color: #352384;
	font-size: 12px;
	letter-spacing: 3px;
	font-weight: 300;
}

input{
	border: none;
	border-bottom: 1px solid #352384;
	width: 90%;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #c1c9da;
	padding-bottom: 1%;
}

button{
	display: inline-block;
	background-color: #ff00bf;
	border: 1px solid #ff00bf;
	padding: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
	color: white;
	border-radius: 6px;
	margin-top: 3%;
	margin-left: 0;
}

.sign-link{
	display: inline-block;
	margin-left: 4%;
	margin-top: -20%;
	color: grey;
}

.text1{
	font-family: 'Montserrat', sans-serif;
	font-size: 8px;
}

.check{
	text-decoration: none;
	color: #ff00bf;
}

.text2{
	font-family: 'Montserrat', sans-serif;
	font-size: 8px;
	font-stretch: extra-expanded;
	padding-bottom: 10%;
}

.learn{
	text-decoration: none;
	color: #ff00bf;
}


.about{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: linear-gradient(#681b83, #2B1E66);
	overflow: hidden;
	color: white;
}

.container{
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 4%;
	overflow: hidden;
}

.info{
	width: 50%;
	height: auto;
	margin: 0 auto;
	float:left;
	font-family: 'Montserrat', sans-serif;
}

.minutes{
	width: 100%;
	height: auto;
	margin-top: -3%;
}

.phone{
	width: 45%;
	height: auto;
	margin: 0 auto;
	float: left;
}

.phone img{
	width: 100%;
	height: auto;
}

.info h1{
	font-size: 30px;
}

.info p{
	margin-bottom: 15%;
}

.videos{
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

.contenedor-tv{
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

.amplify{
	width: 35%;
	height: auto;
	margin: 0 auto;
	float: left;
}

.amplify-vid{
	width: 65%;
	height: auto;
	margin: 0 auto;
	float: right;
	margin-bottom: -1%;
}

.june{
	width: 35%;
	height: auto;
	margin: 0 auto;
	float: right;
}

.june-vid{
	width: 65%;
	height: auto;
	margin: 0 auto;
	float: left;
	margin-bottom: -1%;
}

.goodthing{
	width: 35%;
	height: auto;
	margin: 0 auto;
	float: left;
}

.goodthing-vid{
	width: 65%;
	height: auto;
	margin: 0 auto;
	float: right;
}

.text-video{
	font-size: 10px;
	font-weight: bold;
	margin-top: 8%;
	margin-left: 8%;
}

.vid-title{
	margin-left: 8%;
	margin-top: -2%;
	font-size: 30px;
	font-weight: 600;
}

.description{
	margin-left: 8%;
	margin-right: 16%;
}

.abajito{
	width: 100%;
	background-color: #333447;
	height: auto;
	margin: 0 auto;
}

.footer1{
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.botoncitos{
	width: 70%;
	height: auto;
}

.botoncitos img{
	width: 100%;
	height: 0 auto;
}

.info01{
	display: inline-block;
	color: white;
	text-decoration: none;
	width: 20%;
	height: auto;
	float: left:;
	font-weight: lighter;

}

.info01 a{
	margin-top: 10%;
	text-decoration: none;
	color: white;
	font-weight: lighter;
	font-size: 16px;
	margin-bottom: 5%;

}

.info01 a:hover{
	margin-top: 10%;
	text-decoration: none;
	color: #FF00BF;
	font-weight: lighter;
	font-size: 16px;
	margin-bottom: 5%;

}



.info02{
	display: block;
	width: 20%;
	height: auto;
	float: right;
	margin-top: 2%;
	margin-right: 15%;
}

.info02 img{
	margin-bottom: 15%;
}

.copyright{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #333447;
}

.info001{
	width: 60%;
	height: auto;
	margin: 0 auto;
	background-color: #333447;
}

.abajito{
	margin-top: -0.3%;
}

.icons{
	text-decoration: none;
	padding-left: 0;
}

li{
	text-decoration: none;
}

.fa-icons{
	padding-left: 30%;
	margin-top: 0;
	padding-bottom: 5%;
	padding-top: 10%;
}

.icon{
	color: white;
	font-size: 20px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    text-align: center;
    border: 0.5px solid white;
    border-radius: 100%;
    display: inline-block;
    margin-right: 1%;
    margin-left: 8%;
}

.icon:hover{
	color: #FF00BF;
	font-size: 20px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    text-align: center;
    border: 0.5px solid white;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    margin-right: 1%;
}

.credit{
	text-align: center;
	color: white;
	padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0;
}

.footer1{
	padding-top: 5%;
}